.cctv{
    .main-picture{
        background-image: url(../img/cctv-bg.jpg);
    }

    .portfolio-slider__box{
        &.box1{
            background-image: url(../img/video1.jpg);
            background-position: center;
        }
        &.box2{
            background-image: url(../img/video2.jpg);
            background-position: center;
        }
        &.box3{
            background-image: url(../img/video2.jpg);
            background-position: center;
        }
        &.box4{
            background-image: url(../img/video1.jpg);
            background-position: center;
        }
        &.box5{
            background-image: url(../img/video3.jpg);
               background-position: center;
        }
        &.box6{
            background-image: url(../img/video4.jpg);
               background-position: center;
        }
    }
}
.observation-box__list{
    background: white;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.observation-box__item{
    display: flex;

    align-items: stretch;
    font-weight: normal;
line-height:normal;
font-size: 16px;
background: #EFF4FA;
color: #1F1F1F;
    &:first-child{
        background: #638ECE;
        font-weight: bold;
        line-height: normal;
        font-size: 16px;

        color: #FFFFFF;
        .observation-box__right{
            
             padding-top: 13px;
            padding-bottom: 13px;
            &::before{
                display: none;
            }
        }
        .observation-box__left{
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
    &:nth-of-type(2n){
        background: white;
    }
}
.observation-box__right{
    text-align: center;
    width: 28.1%;
   
        padding-top: 18px;
    padding-bottom: 15.3px;
    min-width: 115px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        display: block;
        width: 1px;
        background: rgba(31,31,31,0.1);
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        position: absolute;
    }
    
}



.observation-box__left{
    width: 71.9%;
        padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 15.3px;
    padding-right: 10px;
      display: flex;
    align-items: center;
   
}

.observation-box__link{
    color: $black;
    &:hover{
        color: $green;
    }
}










@media screen and (min-width: 768px){
    .cctv{
        .main-picture__box{
            padding-top: 78px;
        }
        .main-picture .main-slider__btn{
            margin-top: 11px;
        }
            .equipment{
        margin-top: 71px;
    }
    .scheme{
        margin-top: 89px;
        .scheme-box{
            margin-top: 0px;
        }
    }
    .reviews{
        margin-top: 80px;
    }
    .news{
        margin-top: 83px;
    }
    .portfolio{
        margin-top: 80px;
    }
    .service{
        margin-top: 83px;
    }
    .question{
        margin-top: 83px;
    }
    .order{
        margin-top: 88px;
    }
    }
}
@media screen and (max-width: 767px){
    .observation-box__item{
        font-size: 15px;
    }
    .observation-box__left{
        padding-top: 16px;
        padding-bottom: 14px;
        padding-left: 15px;
    }
    .observation-box__right{
             padding-top: 16px;
        padding-bottom: 14px;
    }
    .observation-box__item:first-child{
        font-size: 15px;
    }
}